page-list {
  .buttonBackgroundClickArea {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .buttonWithBackgroundClickArea {
    position: relative;
  }

  ion-fab {
    top: 50% !important;
  }

  .item-inner {
    .label {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}


